.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid #d7d7d7;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 0px;

  min-width: 300px;
}

.coin h1 {
  font-size: 16px;
  width: 150px;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
}

.coin-price {
  width: 100px;
}

.coin-volume {
  width: 155px;
}

.coin-marketcap {
  width: 230px;
}

.coin-percent {
  width: 100px;
  margin-left: 20px;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

/* For mobile devices */
@media only screen and (max-width: 600px) {
  .coin {
    min-width: 100px;

    .coin-symbol {
      display: none;
    }

    h1 {
      width: 70px;
    }
    p {
    }
  }
  .coin-data {
    gap: 20px;
    .coin-volume,
    .coin-marketcap {
      display: none;
    }
  }
}

/* for tablet devices */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
}

/* For laptop devices */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
}

/* For desktop devices */
@media only screen and (min-width: 1025px) {
}
