.coin-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 70px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d7d7d7;
  height: 50px;
}

.coin-row img,
.imagediv {
  width: 30px;
  height: 30px;
}

.coin-name {
  width: 100px;
}

.coin-symbol {
  width: 100px;
  text-transform: uppercase;
}

.coin-price {
  width: 100px;
}

.coin-volume {
  width: 150px;
}

.coin-marketcap {
  width: 150px;
}

.coin-percent {
  color: white;
  width: 100px;
  width: fit-content;
}

.red {
  background-color: #f00606;
}

.green {
  background-color: #11d811;
}

/* For mobile devices */
@media only screen and (max-width: 600px) {
  .coin-symbol,
  .coin-volume,
  .coin-marketcap {
    display: none;
  }

  .coin-row {
    gap: 30px;
  }
}

/* for tablet devices */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .coin-volume,
  .coin-marketcap {
    display: none;
  }

  .coin-row {
    gap: 30px;
  }
}

/* For laptop devices */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
}

/* For desktop devices */
@media only screen and (min-width: 1025px) {
}
