@import "../color/colors.scss";

// .cryptotrack {
//   scroll-snap-type: y mandatory;
//   overflow-y: scroll;
//   height: 100vh;
// }

.Home {
  scroll-snap-type: y mandatary;
  overflow-y: scroll;
  height: 100vh;
}

.home {
  .home_img {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: $primary-color-faded;

    font-family: $poppins-font;
    h2 {
      font-size: 3.5rem;
      color: $secondary-color;

      text-align: center;
      margin-bottom: 30px;
      font-weight: 600;
    }
    p {
      margin-bottom: 30px;

      text-align: center;
      font-size: 1.2rem;
      color: $font-color-p;
    }
    a {
      text-decoration: none;
      color: white;
      background-color: $primary-color;
      border-radius: 2px;
      padding: 20px 50px;
      font-size: 1.2rem;
      font-weight: 500;
    }
    a:hover {
      background-color: $secondary-color;
    }
  }
}

.nav_home {
  height: 80vh;
}

.cards_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  //background-color: $primary-color;
  margin-top: 20px;
  padding: 100px;
}

#intro {
  display: grid;
  grid-template-columns: 60% 40%;
  //padding: 0px 30px;
  //margin-bottom: 50px;
  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    p {
      font-family: $tillium-font;
      font-weight: 500;
      color: $font-color-p;
      margin-right: 20px;
      font-size: 1.4rem;
      margin-bottom: 100px;
    }
  }
  img {
    width: 70%;
    margin: 30px 0px;
    margin-bottom: 40px;
  }
}

// tools
.tools {
  background: $tools-bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1,
  a {
    color: white;
    font-family: $tillium-font;
    font-weight: 300px;
    margin-bottom: 50px;
  }

  .cardscontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;

    margin-bottom: 50px;

    .cards {
      background-color: $tools-card;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 260px;

      i {
        font-size: 50px;
        color: $primary-color;
        margin-bottom: 20px;
      }
      h1,
      a {
        margin-bottom: 10px;
      }
    }
  }
}

.tools > h1 {
  font-size: 1.9rem;
}

//tools end

//github start
#github {
  background: $primary-color-faded;
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 0px 40px;
  padding: 20px 40px;
  margin-bottom: 50px;

  h1,
  p,
  a {
    color: $font-color-h;
    font-family: $tillium-font;
    font-weight: 300px;
    margin: 0px;
    margin-bottom: 50px;
  }
  h1 {
    font-size: 2.2rem;
  }
  p {
    color: $font-color-p;
    font-size: 1.4rem;
  }
  img {
    width: 70%;
    margin-left: 60px;
  }
  a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding: 5px 4px;
    i {
      padding-right: 8px;
      color: black;
    }
    border-style: solid;

    border-color: black;
    border-width: 2px;
  }
  a:hover {
    i {
      color: $secondary-color;
    }
    color: $secondary-color;
    border-color: $secondary-color;
    box-shadow: $shadow-orange;
  }
}
//github end

//media queries

/* For mobile devices */
@media only screen and (max-width: 600px) {
  .cards_container {
    grid-template-columns: 1fr;
  }
  .home {
    margin: 0 20px;
    .home_img {
      h2 {
        font-size: 2rem;
        padding: 0 30px;
      }
      p {
        font-size: 0.9rem;
        white-space: pre-wrap;
        margin-bottom: 40px;
        padding: 0 40px;
      }
    }
  }

  #intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;

    div p {
      font-size: 1rem;
      text-align: center;
    }

    img {
    }
  }

  .tools {
    .cardscontainer {
      display: flex;
      flex-direction: column;
      .cards {
        width: 130px;
        height: 150px;

        i {
          font-size: 1.7rem;
          margin-bottom: 5px;
        }

        h1 {
          font-size: 1rem;
          margin-bottom: 5px;
        }
        a {
          font-size: 0.7rem;
        }
      }
    }
  }

  #github {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
    h1 {
      font-size: 1.57rem;
      margin-bottom: 50px;
    }
    p {
      font-size: 1rem;
    }
    div > img {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      margin-bottom: 20px;
    }
  }
}

/* for tablet devices */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .cards_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .home {
    margin: 0 20px;
    .home_img {
      h2 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1rem;
        white-space: pre-wrap;
        margin-bottom: 40px;
      }
    }
  }

  #intro {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    p {
      text-align: center;
    }
    img {
      width: 50%;
    }
  }

  .tools {
    .cardscontainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "c1 c1 c2 c2"
        ". c3 c3 .";
    }
    .c1 {
      grid-area: c1;
    }
    .c2 {
      grid-area: c2;
    }
    .c3 {
      grid-area: c3;
    }
  }

  #github {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    img {
      width: 50%;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  }
}

/* For laptop devices */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
}

/* For desktop devices */
@media only screen and (min-width: 1025px) {
}

//media queries end
